@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
}

body {
  background-color: #FEFCF7;
}

.container-flex {
  width: 87%;
  max-width: 1280px;
  display: flex;
}
.container-grid {
  width: 87%;
  max-width: 1280px;
  display: grid;
}

a {
  text-decoration: none;
}

.button-primary {
  display: grid;
  place-items: center;
}
.button-primary a {
  display: flex;
  justify-content: center;
}
.button-primary a button {
  padding: 1rem 1.94rem;
  border: none;
  border-radius: 0.375rem;
  background: #0E8784;
  text-align: center;
  font-family: Fraunces;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.5625rem;
  color: #FEFCF7;
  cursor: pointer;
}

header {
  width: 100%;
  display: grid;
  place-items: center;
  margin-block-end: 120px;
}
header nav {
  width: 100%;
  display: grid;
  place-items: center;
  padding-block: 2rem 2.5rem;
}
header nav .container-flex {
  justify-content: space-between;
  align-items: center;
}
header nav .container-flex .logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header nav .container-flex .logo img {
  width: 100%;
  max-width: 163px;
}
@media (min-width: 768px) {
  header nav .container-flex .logo img {
    max-width: 236px;
  }
}
header nav .container-flex button {
  display: flex;
  border: none;
  background-color: transparent;
}
@media (min-width: 1024px) {
  header nav .container-flex button {
    display: none;
  }
}
header nav .container-flex .menu-desktop {
  display: none;
}
@media (min-width: 1024px) {
  header nav .container-flex .menu-desktop {
    display: flex;
    gap: 2rem;
  }
}
header nav .container-flex .menu-desktop a {
  width: max-content;
  color: #83888F;
  font-family: Barlow;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0.05769rem;
  text-transform: uppercase;
}
header nav .container-flex .menu-desktop a:hover {
  color: #333D4B;
  transition: 0.2s;
}
header nav .container-flex .menu-mobile {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-block-start: 5.5rem;
  background: linear-gradient(180deg, #FEFCF7 52.5%, rgba(254, 252, 247, 0.5) 100%);
  inset: 0;
  z-index: 10;
}
@media (min-width: 1024px) {
  header nav .container-flex .menu-mobile {
    display: none;
  }
}
header nav .container-flex .menu-mobile .container-flex {
  flex-direction: column;
  padding-block-start: 2.5rem;
  gap: 2rem;
  height: min-content;
}
header nav .container-flex .menu-mobile .container-flex a {
  color: #333D4B;
  text-align: center;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
header .hero {
  width: 100%;
  display: grid;
  place-items: center;
}
header .hero .container-flex {
  flex-direction: column;
  gap: 1.5rem;
  padding: 6.25rem 1.5rem;
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
@media (min-width: 768px) {
  header .hero .container-flex {
    padding: 6.5rem 3.6rem;
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg") !important;
  }
}
@media (min-width: 1024px) {
  header .hero .container-flex {
    padding: 7.3rem 5.3rem;
    gap: 2rem;
    background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg") !important;
    background-size: cover;
    background-position-x: right;
  }
}
header .hero .container-flex.about-img {
  padding: 6.31rem 1.5rem 5.44rem 1.5rem;
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg") !important;
}
@media (min-width: 768px) {
  header .hero .container-flex.about-img {
    padding: 7.37rem 3.62rem;
    background-image: url("../assets/about/tablet/image-hero-whitecup.jpg") !important;
  }
}
@media (min-width: 1024px) {
  header .hero .container-flex.about-img {
    padding: 8.5rem 5.3rem;
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg") !important;
  }
}
header .hero .container-flex.about-img h2 {
  font-size: 1.75rem;
}
header .hero .container-flex.plan-img {
  padding: 6.94rem 1.5rem 8.5rem 1.5rem;
  background-image: url("../assets/plan/mobile/image-hero-blackcup.jpg") !important;
}
@media (min-width: 768px) {
  header .hero .container-flex.plan-img {
    padding: 7.37rem 3.62rem;
    background-image: url("../assets/plan/tablet/image-hero-blackcup.jpg") !important;
  }
}
@media (min-width: 1024px) {
  header .hero .container-flex.plan-img {
    padding: 8.3rem 5.3rem;
    background-image: url("../assets/plan/desktop/image-hero-blackcup.jpg") !important;
  }
}
header .hero .container-flex h2, header .hero .container-flex p {
  color: #FEFCF7;
}
header .hero .container-flex h2 {
  font-family: Fraunces;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  header .hero .container-flex h2 {
    max-width: 400px;
    font-family: Fraunces;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3rem;
    text-align: left !important;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  header .hero .container-flex h2 {
    max-width: 31rem;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
header .hero .container-flex p {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  margin-block-end: 0.94rem;
  opacity: 0.8000000119;
  text-align: center;
}
@media (min-width: 768px) {
  header .hero .container-flex p {
    max-width: 420px;
    text-align: left !important;
  }
}
@media (min-width: 1024px) {
  header .hero .container-flex p {
    max-width: 27.8rem;
    color: #FEFCF7;
    font-size: 1rem;
    line-height: 1.625rem;
  }
}
header .hero .container-flex .button-primary {
  padding-block-start: 1.5rem;
  justify-content: flex-start;
}
header .hero .container-flex .button-primary a button:hover {
  background-color: #66D2CF;
  transition: 0.2s;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}
main #collection {
  width: 100%;
  display: grid;
  place-items: center;
}
main #collection .container-flex {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 1024px) {
  main #collection .container-flex {
    max-width: 1111px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
main #collection .container-flex h2 {
  width: 100%;
  text-align: center;
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 900;
  line-height: 4.5rem;
  background: linear-gradient(180deg, rgb(131, 136, 143) -25%, #FEFCF7 80%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
@media (min-width: 330px) {
  main #collection .container-flex h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  main #collection .container-flex h2 {
    margin-block-end: -4.5rem;
    background: linear-gradient(180deg, rgb(131, 136, 143) -100%, #FEFCF7 100%);
    text-align: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 5.8rem;
  }
}
@media (min-width: 1024px) {
  main #collection .container-flex h2 {
    margin-block-end: -5.5rem;
    width: 100%;
    max-width: 1111px;
    color: #333D4B;
    background: linear-gradient(180deg, rgb(131, 136, 143) -200%, #FEFCF7 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
    font-size: 9.375rem;
    line-height: 100%;
  }
}
main #collection .container-flex .card {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  main #collection .container-flex .card {
    padding-inline-start: 1rem;
    max-width: 35.8rem;
    gap: 2.25rem;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  main #collection .container-flex .card {
    max-width: 255px;
    flex-direction: column;
  }
}
main #collection .container-flex .card img {
  width: 100%;
  max-width: 12.5rem;
}
@media (min-width: 768px) {
  main #collection .container-flex .card img {
    max-width: 16rem;
  }
}
main #collection .container-flex .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main #collection .container-flex .card .card-content h3, main #collection .container-flex .card .card-content p {
  color: #333D4B;
}
main #collection .container-flex .card .card-content h3 {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
@media (min-width: 768px) {
  main #collection .container-flex .card .card-content h3 {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  main #collection .container-flex .card .card-content h3 {
    text-align: center;
  }
}
main #collection .container-flex .card .card-content p {
  text-align: center;
  font-family: Barlow;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
@media (min-width: 768px) {
  main #collection .container-flex .card .card-content p {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  main #collection .container-flex .card .card-content p {
    text-align: center;
  }
}
main #why {
  width: 100%;
  display: grid;
  place-items: center;
}
main #why .container-flex {
  flex-direction: column;
}
main #why .container-flex .why-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c343e;
  border-radius: 10px 10px 0 0;
  padding: 4rem 1.5rem 1.75rem 1.5rem;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  main #why .container-flex .why-header h2, main #why .container-flex .why-header p {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  main #why .container-flex .why-header {
    padding-block: 6.5rem 5.3rem;
  }
}
main #why .container-flex .why-header h2, main #why .container-flex .why-header p {
  color: #FEFCF7;
}
main #why .container-flex .why-header h2 {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.75rem;
}
@media (min-width: 1024px) {
  main #why .container-flex .why-header h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
main #why .container-flex .why-header p {
  text-align: center;
  font-family: Barlow;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  opacity: 0.8000000119;
}
@media (min-width: 1024px) {
  main #why .container-flex .why-header p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 33.5rem;
  }
}
main #why .container-flex .why-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
  background-color: transparent;
}
@media (min-width: 1024px) {
  main #why .container-flex .why-cards {
    width: 100%;
    padding: 0 5.3rem;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.9rem;
  }
}
main #why .container-flex .why-cards::before {
  position: absolute;
  top: -24px;
  content: "";
  width: 100%;
  height: 52.5%;
  z-index: -1;
  border-radius: 0 0 10px 10px;
  background-color: #414f5a;
}
@media (min-width: 768px) {
  main #why .container-flex .why-cards::before {
    background-color: #2c343e;
  }
}
@media (min-width: 1024px) {
  main #why .container-flex .why-cards::before {
    height: 60%;
  }
}
main #why .container-flex .why-cards .why-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5rem 0.75rem 3rem;
  gap: 1.5rem;
  width: 100%;
  background-color: #0E8784;
  border-radius: 10px;
}
@media (min-width: 768px) {
  main #why .container-flex .why-cards .why-card {
    padding: 2.56rem 3rem 2.56rem 4.38rem;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
@media (min-width: 1024px) {
  main #why .container-flex .why-cards .why-card {
    width: 100%;
    max-width: 21.8rem;
    min-height: 23.8rem;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
  }
}
main #why .container-flex .why-cards .why-card img {
  width: 100%;
  max-width: 4.5rem;
  margin-block-end: 2rem;
}
@media (min-width: 768px) {
  main #why .container-flex .why-cards .why-card img {
    max-width: 3.5rem;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  main #why .container-flex .why-cards .why-card img {
    max-width: 4.5rem;
    padding-block-end: 3.5rem;
  }
}
main #why .container-flex .why-cards .why-card .why-card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main #why .container-flex .why-cards .why-card .why-card-content h3, main #why .container-flex .why-cards .why-card .why-card-content p {
  color: #FEFCF7;
}
main #why .container-flex .why-cards .why-card .why-card-content h3 {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
@media (min-width: 768px) {
  main #why .container-flex .why-cards .why-card .why-card-content h3 {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  main #why .container-flex .why-cards .why-card .why-card-content h3 {
    text-align: center;
  }
}
main #why .container-flex .why-cards .why-card .why-card-content p {
  width: 100%;
  max-width: 13.25rem;
  text-align: center;
  font-family: Barlow;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
@media (min-width: 768px) {
  main #why .container-flex .why-cards .why-card .why-card-content p {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5625rem;
    text-align: left;
    max-width: 21.5rem;
  }
}
@media (min-width: 1024px) {
  main #why .container-flex .why-cards .why-card .why-card-content p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.625rem;
  }
}
main #how {
  width: 100%;
  display: grid;
  place-items: center;
}
main #how .container-flex {
  flex-direction: column;
  gap: 5rem;
}
@media (min-width: 768px) {
  main #how .container-flex {
    gap: 0;
  }
}
@media (min-width: 1024px) {
  main #how .container-flex {
    padding-inline: 5.3rem;
  }
}
main #how .container-flex .how-header {
  display: flex;
  flex-direction: column;
}
main #how .container-flex .how-header h2 {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
  color: #83888F;
}
@media (min-width: 768px) {
  main #how .container-flex .how-header h2 {
    text-align: left;
  }
}
main #how .container-flex .how-header .items {
  display: none;
}
@media (min-width: 768px) {
  main #how .container-flex .how-header .items {
    display: flex;
    gap: 12.25rem;
    position: relative;
    display: flex;
    max-width: min-content;
  }
  main #how .container-flex .how-header .items::after {
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #FDD6BA;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  main #how .container-flex .how-header .items .item {
    display: flex;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border-radius: 50%;
    border: 2px solid #0E8784;
    margin-block: 2.5rem;
  }
}
@media (min-width: 1024px) {
  main #how .container-flex .how-header .items {
    gap: 21.81rem;
  }
  main #how .container-flex .how-header .items .item {
    margin-block: 5rem;
  }
}
main #how .container-flex .how-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
@media (min-width: 768px) {
  main #how .container-flex .how-cards {
    flex-direction: row;
    gap: 10px;
    margin-block-end: 44px;
  }
}
@media (min-width: 1024px) {
  main #how .container-flex .how-cards {
    gap: 5.94rem;
    flex-wrap: wrap;
    margin-block-end: 4rem;
  }
}
main #how .container-flex .how-cards .how-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  main #how .container-flex .how-cards .how-card {
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  main #how .container-flex .how-cards .how-card {
    gap: 2.3rem;
  }
}
main #how .container-flex .how-cards .how-card span {
  text-align: center;
  font-family: Fraunces;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.5rem;
  color: #FDD6BA;
}
@media (min-width: 768px) {
  main #how .container-flex .how-cards .how-card span {
    text-align: left;
  }
}
main #how .container-flex .how-cards .how-card h3, main #how .container-flex .how-cards .how-card p {
  color: #333D4B;
}
main #how .container-flex .how-cards .how-card h3 {
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 2rem;
}
@media (min-width: 768px) {
  main #how .container-flex .how-cards .how-card h3 {
    max-width: 13.5rem;
    min-width: 13.5rem;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  main #how .container-flex .how-cards .how-card h3 {
    max-width: 15.9rem;
    min-width: 15.9rem;
    color: #333D4B;
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
main #how .container-flex .how-cards .how-card p {
  text-align: center;
  font-family: Barlow;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
@media (min-width: 768px) {
  main #how .container-flex .how-cards .how-card p {
    text-align: left;
    min-width: 13.5rem;
    max-width: 13.5rem;
  }
}
@media (min-width: 1024px) {
  main #how .container-flex .how-cards .how-card p {
    max-width: 17.8rem;
    min-width: 17.8rem;
    color: #333D4B;
    font-size: 1rem;
    line-height: 1.625rem;
  }
}
main #how .container-flex .button-primary {
  place-items: start;
}
main #how .container-flex .button-primary a button:hover {
  background-color: #66D2CF;
  transition: 0.2s;
}
main #commitment {
  width: 100%;
  display: grid;
  place-items: center;
}
main #commitment .container-flex {
  flex-direction: column;
  gap: 7.5rem;
  max-width: 69.3rem;
}
main #commitment .container-flex .our {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  main #commitment .container-flex .our {
    flex-direction: row;
    justify-content: space-between;
  }
}
main #commitment .container-flex .our picture {
  display: flex;
}
main #commitment .container-flex .our picture img {
  width: 100%;
  height: 25rem;
  border-radius: 0.5rem;
  background-size: cover;
}
@media (min-width: 768px) {
  main #commitment .container-flex .our picture img {
    width: 17.5625rem;
    height: 29.375rem;
  }
}
@media (min-width: 1024px) {
  main #commitment .container-flex .our picture img {
    width: 27.8rem;
    height: 32.5rem;
  }
}
main #commitment .container-flex .our .our-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  main #commitment .container-flex .our .our-content {
    justify-content: center;
  }
}
main #commitment .container-flex .our .our-content h2 {
  color: #333D4B;
  text-align: center;
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3rem;
}
@media (min-width: 768px) {
  main #commitment .container-flex .our .our-content h2 {
    max-width: 21.1875rem;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  main #commitment .container-flex .our .our-content h2 {
    font-size: 2.5rem;
    max-width: 22.7rem;
  }
}
main #commitment .container-flex .our p {
  color: #333D4B;
  text-align: center;
  font-family: Barlow;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  opacity: 0.8000000119;
}
@media (min-width: 768px) {
  main #commitment .container-flex .our p {
    min-width: 21.1875rem;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  main #commitment .container-flex .our p {
    font-size: 1rem;
    line-height: 1.625rem;
    max-width: 33.75rem;
  }
}
main #quality {
  width: 100%;
  display: grid;
  place-items: center;
}
main #quality .container-flex {
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  background-color: #2C343E;
  border-radius: 0.625rem;
  padding-inline: 1.5rem;
  padding-block: 5rem 3.8rem;
  position: relative;
}
@media (min-width: 1024px) {
  main #quality .container-flex {
    align-items: flex-start;
    padding-inline: 5.31rem;
    padding-block-end: 11rem;
  }
}
main #quality .container-flex picture {
  display: flex;
  justify-content: center;
}
main #quality .container-flex picture img {
  position: absolute;
  top: -5rem;
  width: 85%;
  border-radius: 0.5rem;
  max-width: 400px;
}
@media (min-width: 768px) {
  main #quality .container-flex picture img {
    top: -9.75rem;
    max-width: 590px;
  }
}
@media (min-width: 1024px) {
  main #quality .container-flex picture img {
    width: 27.8125rem;
    height: 29.625rem;
    top: -5.5rem;
    right: 5.31rem;
  }
}
main #quality .container-flex .quality-content {
  display: flex;
  flex-direction: column;
  padding-block-start: 4rem;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  main #quality .container-flex .quality-content {
    padding-block-start: 8rem;
  }
}
@media (min-width: 1024px) {
  main #quality .container-flex .quality-content {
    padding-block-start: 0;
  }
}
main #quality .container-flex .quality-content h2 {
  color: #FEFCF7;
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.75rem;
  z-index: 1;
}
@media (min-width: 768px) {
  main #quality .container-flex .quality-content h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (min-width: 1024px) {
  main #quality .container-flex .quality-content h2 {
    text-align: left;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
main #quality .container-flex .quality-content p {
  color: #FEFCF7;
  text-align: center;
  font-family: Barlow;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  opacity: 0.8000000119;
}
@media (min-width: 768px) {
  main #quality .container-flex .quality-content p {
    max-width: 33.75rem;
  }
}
@media (min-width: 1024px) {
  main #quality .container-flex .quality-content p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.625rem;
  }
}
main #headquarters {
  width: 100%;
  display: grid;
  place-items: center;
}
main #headquarters .container-flex {
  flex-direction: column;
  max-width: 65rem;
}
main #headquarters .container-flex h2 {
  color: #83888F;
  text-align: center;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
@media (min-width: 768px) {
  main #headquarters .container-flex h2 {
    text-align: left;
  }
}
main #headquarters .container-flex .headquarters-cards {
  display: flex;
  flex-direction: column;
  margin-block-start: 5rem;
}
@media (min-width: 768px) {
  main #headquarters .container-flex .headquarters-cards {
    flex-direction: row;
    margin-block-start: 4.5rem;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  main #headquarters .container-flex .headquarters-cards {
    gap: 6rem;
  }
}
main #headquarters .container-flex .headquarters-cards .headquarters-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.33rem;
}
@media (min-width: 768px) {
  main #headquarters .container-flex .headquarters-cards .headquarters-card {
    align-items: flex-start;
  }
}
@media (min-width: 1024px) {
  main #headquarters .container-flex .headquarters-cards .headquarters-card {
    gap: 1.5rem;
  }
}
main #headquarters .container-flex .headquarters-cards .headquarters-card h2 {
  color: #333D4B;
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 2.25rem;
}
@media (min-width: 768px) {
  main #headquarters .container-flex .headquarters-cards .headquarters-card h2 {
    text-align: left;
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  main #headquarters .container-flex .headquarters-cards .headquarters-card h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
main #headquarters .container-flex .headquarters-cards .headquarters-card p {
  color: #333D4B;
  text-align: center;
  font-family: Barlow;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
@media (min-width: 768px) {
  main #headquarters .container-flex .headquarters-cards .headquarters-card p {
    text-align: left;
    width: 13.875rem;
  }
}
@media (min-width: 1024px) {
  main #headquarters .container-flex .headquarters-cards .headquarters-card p {
    font-size: 1rem;
    line-height: 1.625rem;
    width: 17.8rem;
  }
}
main #plans {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #293039;
  padding-block: 5rem;
  border-radius: 0.625rem;
}
@media (min-width: 1024px) {
  main #plans {
    width: 87%;
    max-width: 80rem;
    margin: 0 auto;
  }
}
main #plans .container-flex {
  flex-direction: column;
  gap: 3.5rem;
}
@media (min-width: 1024px) {
  main #plans .container-flex {
    gap: 5.1rem;
  }
}
main #plans .container-flex .items {
  display: none;
}
@media (min-width: 768px) {
  main #plans .container-flex .items {
    display: flex;
    gap: 13.5rem;
    position: relative;
    display: flex;
    max-width: min-content;
  }
  main #plans .container-flex .items::after {
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #FDD6BA;
    top: 50%;
    transform: translateY(-50%);
  }
  main #plans .container-flex .items .item {
    display: flex;
    width: 31px;
    height: 31px;
    background: #293039;
    border-radius: 50%;
    border: 2px solid #0E8784;
    z-index: 1000000;
  }
}
@media (min-width: 1024px) {
  main #plans .container-flex .items {
    gap: 21.81rem;
  }
}
main #plans .container-flex .plans {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  main #plans .container-flex .plans {
    flex-direction: row;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  main #plans .container-flex .plans {
    gap: 5.94rem;
  }
}
main #plans .container-flex .plans .plan {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  main #plans .container-flex .plans .plan {
    gap: 2.5rem;
  }
}
main #plans .container-flex .plans h2 {
  color: #FDD6BA;
  text-align: center;
  font-family: Fraunces;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.5rem;
}
@media (min-width: 768px) {
  main #plans .container-flex .plans h2 {
    text-align: left;
  }
}
main #plans .container-flex .plans h3 {
  color: #FFF;
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 2rem;
}
@media (min-width: 768px) {
  main #plans .container-flex .plans h3 {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  main #plans .container-flex .plans h3 {
    max-width: 15.9rem;
  }
}
main #plans .container-flex .plans p {
  color: #FFF;
  text-align: center;
  font-family: Barlow;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
@media (min-width: 768px) {
  main #plans .container-flex .plans p {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  main #plans .container-flex .plans p {
    font-size: 1rem;
    line-height: 1.625rem;
    max-width: 17.8rem;
  }
}
main #make-plan {
  width: 100%;
  display: grid;
  place-items: center;
}
main #make-plan .container-flex {
  justify-content: center;
}
@media (min-width: 1024px) {
  main #make-plan .container-flex {
    justify-content: space-between;
  }
}
main #make-plan .container-flex .plan-anchor {
  display: none;
}
@media (min-width: 1024px) {
  main #make-plan .container-flex .plan-anchor {
    display: flex;
    width: 30rem;
    justify-content: center;
  }
}
main #make-plan .container-flex .plan-anchor .anchors {
  display: flex;
  flex-direction: column;
  max-width: 15.93rem;
}
main #make-plan .container-flex .plan-anchor .anchors .anchor {
  display: flex;
  align-items: center;
  gap: 1.78rem;
  padding-block: 1.5rem;
  border-bottom: 1px solid #eae9e6;
  cursor: pointer;
}
main #make-plan .container-flex .plan-anchor .anchors .anchor:first-child {
  padding-block-start: 0.3rem;
}
main #make-plan .container-flex .plan-anchor .anchors .anchor:hover h2 {
  color: #333D4B;
}
main #make-plan .container-flex .plan-anchor .anchors .anchor span {
  color: #83888F;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
main #make-plan .container-flex .plan-anchor .anchors .anchor h2 {
  color: #acafb2;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
main #make-plan .container-flex form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
@media (min-width: 1024px) {
  main #make-plan .container-flex form {
    max-width: 45.625rem;
  }
}
main #make-plan .container-flex form .select {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #make-plan .container-flex form .select .select-header {
  display: grid;
  grid-template-columns: 1fr 19px;
  gap: 4.3rem;
  align-items: center;
  cursor: pointer;
}
main #make-plan .container-flex form .select .select-header h2 {
  color: #333D4B;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  main #make-plan .container-flex form .select .select-header h2 {
    color: #333D4B;
    font-size: 2rem;
    line-height: 3rem;
  }
}
main #make-plan .container-flex form .select .select-header img.invert-arrow {
  rotate: -180deg;
}
main #make-plan .container-flex form .select-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  main #make-plan .container-flex form .select-content {
    flex-direction: row;
  }
}
main #make-plan .container-flex form .select-content .radio input {
  display: none;
}
main #make-plan .container-flex form .select-content .radio label {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #F4F1EB;
  border-radius: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  main #make-plan .container-flex form .select-content .radio label {
    padding: 2rem 1.55rem;
    min-height: 14rem;
  }
}
main #make-plan .container-flex form .select-content .radio label:hover {
  background-color: #FDD6BA;
  transition: 0.2s;
}
main #make-plan .container-flex form .select-content .radio label.selected {
  background-color: #0E8784;
}
main #make-plan .container-flex form .select-content .radio label.selected h3, main #make-plan .container-flex form .select-content .radio label.selected p {
  color: #FFF;
}
main #make-plan .container-flex form .select-content .radio label h3 {
  color: #333D4B;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
main #make-plan .container-flex form .select-content .radio label p {
  color: #333D4B;
  font-family: Barlow;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
main #create-plan {
  display: grid;
  place-items: center;
}
main #create-plan .container-flex {
  flex-direction: column;
  gap: 5rem;
}
@media (min-width: 1024px) {
  main #create-plan .container-flex {
    align-items: flex-end;
  }
}
main #create-plan .container-flex .order {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #272e37;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  main #create-plan .container-flex .order {
    padding: 2rem 2rem;
  }
}
@media (min-width: 1024px) {
  main #create-plan .container-flex .order {
    max-width: 45.62rem;
  }
}
main #create-plan .container-flex .order p {
  color: #FFF;
  font-family: Barlow;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  opacity: 0.5036933422;
}
main #create-plan .container-flex .order h2 {
  color: #FFF;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2.5rem;
}
main #create-plan .container-flex .order .d {
  color: #0E8784;
  font-family: Fraunces;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2.5rem;
}
main #create-plan .container-flex .button-primary a button:hover {
  background-color: #66D2CF;
  transition: 0.2s;
}

footer {
  width: 100%;
  display: grid;
  place-items: center;
  padding-block: 5rem 4.5rem;
}
@media (min-width: 768px) {
  footer {
    padding-block-start: 9rem;
  }
}
footer .container-flex {
  flex-direction: column;
  align-items: center;
  background-color: #333D4B;
  gap: 3rem;
  padding-block: 3.37rem;
}
@media (min-width: 768px) {
  footer .container-flex {
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  footer .container-flex {
    flex-direction: row;
    padding: 3rem 5.3rem;
    justify-content: space-between;
  }
}
footer .container-flex .footer-header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  footer .container-flex .footer-header {
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  footer .container-flex .footer-header {
    flex-direction: row;
    gap: 6.4rem;
  }
}
footer .container-flex .footer-header .logo {
  display: flex;
  justify-content: center;
}
footer .container-flex .footer-header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  footer .container-flex .footer-header .menu {
    flex-direction: row;
    gap: 2rem;
  }
}
footer .container-flex .footer-header .menu a {
  font-family: Barlow;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0.05769rem;
  text-transform: uppercase;
  color: #83888F;
}
footer .container-flex .footer-header .menu a:hover {
  color: #FEFCF7;
  transition: 0.2s;
}
footer .container-flex .socials {
  display: flex;
  gap: 1.5rem;
}
footer .container-flex .socials a {
  display: flex;
}
footer .container-flex .socials a:hover img {
  filter: saturate(5);
}

/*# sourceMappingURL=index.css.map */
